/*.add-trick-button {
    white-space: pre;
    color: blueviolet;
    margin: auto;

    width: 200px;
    background-color: rgb(245, 245, 33);
    font-size: 25px;
    overflow: scroll;
}

.add-trick-container {
    display: inline-flex;
    flex-direction: column;
    margin: 0 100px;

}

.add-trick-button:hover {
    background-color: blueviolet;
    color:  rgb(245, 245, 33)
}

.og-container {

}

.submit-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;

}

.sideflip {
    position: relative;
    right: 71px;
}

.frontflip {
    position: relative;
    left: 25px;
}

.backflip {
    position: relative;
    left: 124px;
}

.one-eighty {
    position: relative;
    right: 149px;
}
*/


.og-container {
    display: flex;
    flex-direction: column;
}

.og-trick-button {
    border-style: solid;
    border-color: rgb(14, 126, 255);
    border-width: 8px;
    background-color: rgb(79, 201, 241);
    
    font-weight: bold;
    width: 100px;
    height: 100px;
    font-size: 20px;
    margin-bottom: 50px;
}

.add-trick-button {
    border-style: solid;
    border-color: rgb(14, 126, 255);
    border-width: 8px;
    background-color: rgb(79, 201, 241);
    color: white;
    font-weight: bold;
    width: 250px;
    height: 100px;
    font-size: 20px;
    margin-bottom: 50px;
}

.add-trick-button:hover, .og-trick-button:hover {
    border-color: rgb(79, 201, 241);
    background-color: rgb(14, 126, 255);
}

.button-container {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.add-trick-container-one {
 
}

.add-trick-container-two {
    
}

.add-trick-container {
    display: flex;
    flex-direction: column;
}

.text-container {
    text-align: center;
    color: rgb(14, 126, 255);
}
.first-clicked,.second-clicked {
    color: red;
    height: 200px;
    width: 200px;
}

.first-not-clicked, .second-not-clicked {
    color: white;
}